@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  margin-top: 93px;
  font-family: Poppins;
  header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1c1e53;
    height: 93px;
    padding-top: 10px;
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: space-between !important;
      .nav_items {
        display: flex;
        gap: 40px;
        align-items: center;
        a {
          color: #bbbbcb;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
        a:hover {
          color: #fff;
        }
        button {
          cursor: pointer;
          background-color: transparent;
          color: var(--White, #fff);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          padding: 16px 48px;
          border-radius: 41px;
          border: 2px solid rgba(244, 246, 252, 0.2);
        }
      }
    }
  }
  .hero {
    .hero_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    background: (#1c1e53);
    padding-bottom: 128px;
    h1 {
      padding-top: 126px;
      max-width: 582px;
      color: (#fff);
      font-family: Poppins;
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
      line-height: 74px;
    }
    p {
      padding: 24px 0 48px 0;
      max-width: 562px;
      color: (#fff);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
    }
    .btn_hero {
      display: flex;
      gap: 40px;
    }
    .work_btn {
      cursor: pointer;
      color: #fff;
      border: none;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      padding: 16px 56px;
      border-radius: 41px;
      background: transparent;
    }
    .work_btn:hover {
      transition: 0.5s;
      background: #fcd980;
      color: #1b1c2b;
    }
    .pricing_btn {
      border-radius: 41px;
      padding: 16px 56px;
      cursor: pointer;
      background-color: transparent;
      color: var(--White, #fff);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      border: none;
    }
    .pricing_btn:hover {
      background-color: #fcd980;
      color: #1b1c2b;
      transition: 0.5s;
    }
  }
  .view {
    padding-bottom: 128px;
    background: #fff;
    .view-text {
      padding-top: 57px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: (#282938);
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 64px;
      }
      .btn_view {
        border: none;
        background-color: transparent;
        color: #282938;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }
    }

    .view_image {
      padding-top: 64px;
      display: flex;
      justify-content: space-between;
      .img2 {
        padding-top: 32px;
      }
    }
  }
  .features {
    padding-bottom: 128px;
    background: (#f4f6fc);
    h6 {
      padding-top: 128px;
      color: var(--Dark-blue, #282938);
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
    }
    h1 {
      padding-top: 12px;
      max-width: 630px;
      margin: 0 auto;
      color: var(--Dark-blue, #282938);
      text-align: center;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
    }
    .feature_card {
      padding-top: 47px;
      display: flex;
      justify-content: space-between;
    }
    .feature_cards {
      padding-left: 48px;
      background: #fff;
      max-width: 405px;
      width: 100%;
      height: 316px;
      display: flex;
      flex-direction: column;

      justify-content: center;
      h2 {
        padding-bottom: 12px;
        color: var(--Dark-blue, #282938);
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
      }
      p {
        max-width: 324px;
      }
    }
    .feature_card2 {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
    }
  }
  .clients {
    padding-bottom: 107px;
    padding-top: 128px;
    background: #fff;
    .clients_text1 {
      h1 {
        max-width: 327px;
        color: var(--Dark-blue, #282938);
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
      }
      p {
        padding-top: 16px;
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 327px;
      }
    }
    .clients_text2 {
      p {
        max-width: 843px;
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
      }
    }
    .clients_content {
      display: flex;
      justify-content: space-between;
    }
    .wilson {
      padding-top: 39px;
      display: flex;
      justify-content: space-between;
      .small_image {
        gap: 10px;
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
footer {
  padding-top: 104px;
  padding-bottom: 92px;
  background: #1c1e53;
  .footer_image {
    p {
      padding: 23px 0 86px 0;
      color: var(--White, #fff);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      max-width: 399px;
    }
    .email_call {
      padding-left: 20px;
      padding-top: 10px;
      gap: 40px;
      display: flex;
      max-width: 517px;
      width: 100%;
      height: 95px;
      background: (#fcd980);
      p {
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }
  .talk_con {
    h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
    }
    p {
      padding: 14px 0 28px 0;
      max-width: 399px;
      color: var(--Grey, #f4f6fc);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
    .social_icons {
      display: flex;
      gap: 26px;
    }
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
  }
}
.image_wraper {
  position: relative;
}
.liner {
  padding-left: 32px;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  max-width: 396px;
  height: 600px;
  flex-shrink: 0;
  position: absolute;
  top: 946px;
  h1 {
    padding-top: 312px;
    color: (#fff);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  p {
    padding: 16px 0 40px 0;
    color: var(--White, #fff);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  .btn_liner {
    border: none;
    background: none;
    color: var(--Yellow, #fcd980);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}
.img1 {
  position: relative;
}
.linear2 {
  padding-top: 129px;
  padding-left: 56px;
  z-index: 1;
  position: absolute;
  top: 1px;
  max-width: 405px;
  width: 100%;
  height: 284px;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  h1 {
    max-width: 213px;
    color: var(--White, #fff);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
  }
  .btn_liner {
    padding-top: 10px;
    color: #fcd980;
    background: none;
    border: none;
  }
}
#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}

@media (max-width: 750px) {
}

//  Contact Section////////////////////

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main {
  .contact {
    padding: 128px 0px;
    .container {
      .contact-form {
        font-family: sans-serif, poppins;
        &__btn {
          cursor: pointer;
          padding: 15px 51px;
          width: 254px;
          height: 64px;
          max-width: 100%;
          color: var(--Grey, #f4f6fc);
          font-family: " Manrope";
          font-size: 18px;
          border: none;
          font-weight: 600;
          line-height: 32px;
          border-radius: 41px;
          background: var(--Dark-blue, #282938);
          &:hover {
            background-color: white;
            color: #282938;
            border: 1px solid #282938;
            transition: 0.5s;
          }
        }
        &__textarea {
          width: 1100px;
          height: 138px;
          padding: 18px 32px;
          gap: 10px;
          max-width: 100%;
          flex-shrink: 0;
          border-radius: 8px;
          outline: none;
          margin-bottom: 32px;
          border: 1px solid rgba(0, 0, 0, 0.12);
        }
        margin-right: auto;
        margin-left: auto;
        &__i {
          display: flex;
          justify-content: space-between;
        }
        max-width: 100%;
        border-radius: 12px;
        background: var(--Grey, #f4f6fc);
        padding: 56px 76px 69px 76px;
        &__inputs {
          padding: 18px 32px;
          width: 438px;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          margin-bottom: 24px;
          max-width: 100%;
          outline: none;
        }
      }
      .contact-title {
        text-align: center;
        &__heading {
          color: var(--Dark-blue, #282938);
          font-family: "Poppins";
          font-size: 48px;
          font-weight: 600;
          line-height: 64px;
        }
        &__paragraph {
          margin-bottom: 64px;
          width: 562px;
          max-width: 100%;
          color: var(--Dark-blue, #282938);
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 400;
          margin-right: auto;
          margin-left: auto;
          line-height: 28px;
        }
      }
    }
  }
}

@media (max-width: 1085px) {
  .main {
    .contact {
      .contact-form {
        .contact-form__textarea {
          width: 440px;
        }
        .contact-form__i {
          flex-direction: column;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}

// contact section

// Blog section////////////////////////

.blog {
  background: #fff;
  .blog-text {
    h1 {
      padding: 128px 0 16px 0;
      margin: 0 auto;
      max-width: 949px;
      color: var(--Dark-blue, #282938);
      text-align: center;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
    }
    p {
      color: var(--Dark-blue, #282938);
      text-align: center;
      padding-bottom: 32px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
    }
    .p2 {
      color: var(--Dark-blue, #282938);
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 831px;
      margin: 0 auto;
      padding-top: 48px;
    }
    h5 {
      color: var(--Royal-Blue, #2405f2);
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .our-blog {
    .blog-card2 {
      display: flex;
      justify-content: space-between;
    }
    .blog-card {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      padding-top: 128px;
      color: var(--Dark-blue, #282938);
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
      text-align: center;
    }
  }
  .blog-cards {
    padding-top: 48px;
    .data {
      padding-top: 32px;
      color: var(--Dark-blue, #282938);
    }
    h3 {
      padding: 16px 0;
      max-width: 404px;
      color: var(--Dark-blue, #282938);
      font-family: Poppins;
      font-size: 24px;
      font-weight: 500;
    }
    .data-text {
      color: var(--Dark-blue, #282938);
      max-width: 404px;
      padding-bottom: 24px;
    }
    .read_more {
      padding-bottom: 128px;
    }
  }
}

@media (max-width: 1390px) {
  .blog {
    .container {
      .blog-cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media (max-width: 880px) {
  .blog {
    .container {
      .blog-cards {
        grid-template-columns: 1fr;
        width: 100%;
      }
    }
  }
}
// blog section

// pricing section//////////////////

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main {
  font-family: sans-serif;
  .pricing {
    padding: 128px 0px;

    .container {
      .pricing_support {
        text-align: center;

        .pricing_title {
          color: #282938;
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 64px;
          margin-bottom: 16px;
        }

        .pricing_text {
          color: #282938;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          margin-bottom: 64px;
        }
      }
    }
    .pricing_content {
      display: flex;
      justify-content: space-between;
    }
    .pricing_card {
      padding-left: 48px;
      max-width: 406px;
      height: 745px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 12px;
      background: var(--Grey, #f4f6fc);
      span {
        gap: 20px;
        align-items: center;
        display: flex;
        h1 {
          color: var(--Dark-blue, #282938);
          font-family: Poppins;
          font-size: 38px;
          font-style: normal;
          font-weight: 600;
          line-height: 56px;
        }
        .per {
          color: var(--Royal-Blue, #2405f2);
        }
      }
      h4 {
        color: var(--Dark-blue, #282938);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
      }
      .p2 {
        padding: 20px 0 8px 0;
        padding-bottom: 78px;
        max-width: 281px;
        color: var(--Dark-blue, #282938);
      }
      .limited_links {
        a {
          display: flex;
          align-items: center;
          color: var(--Dark-blue, #282938);
        }
        gap: 30px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      }
      .btn_price {
        padding-top: 79px;
        button {
          border: none;
          max-width: 254px;
          padding: 15px 51px;
          color: var(--Grey, #f4f6fc);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          border-radius: 41px;
          background: var(--Dark-blue, #282938);
        }
      }
    }
    .pricing_card:hover {
      transition: 1s;
      background: #1c1e53;
      h1 {
        color: var(--White, #fff);
      }
      .per {
        color: gold;
      }
      h4 {
        color: var(--White, #fff);
      }
      p {
        color: var(--White, #fff);
      }
      a {
        color: var(--White, #fff);
      }
      button {
        cursor: pointer;
        background-color: gold;
        color: #1b1c2b;
      }
    }
  }

  .frequently {
    .container {
      .frequently_content {
        display: flex;
        padding-bottom: 128px;

        .frequently_support {
          margin-right: 53px;

          .frequently_title {
            color: #282938;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 64px;
            margin-bottom: 16px;
          }

          .frequently_text {
            color: #2405f2;
            text-align: center;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
          }
        }

        .frequently_middle {
          .frequently_content_text {
            display: flex;

            .frequently__img {
              margin-right: 58px;
            }

            .frequently_sub__title {
              color: #282938;
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px;
              margin-bottom: 16px;
              margin-right: 323.2px;
            }

            .frequently_sub__title_primary {
              color: #282938;
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px;
              margin-bottom: 32px;
              margin-right: 323.2px;
            }
          }

          .frequently_sub__text {
            color: #282938;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-left: 82px;
            margin-bottom: 48px;
          }

          hr {
            width: 843px;
            height: 1px;
            background: rgba(194, 187, 255, 0.7);
            margin-bottom: 32px;
          }

          .last {
            width: 843px;
            height: 1px;
            background: rgba(194, 187, 255, 0.7);
          }
        }
      }
    }
  }
}

// work////////


.work-hero{
  padding-top: 96px;
  padding-bottom: 96px;
  h5{
      color: #282938;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
  }
  h2{
      padding-top: 4px;
      color: #282938;
      text-align: center;
      padding-bottom: 24px;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
  }
  p{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center !important;
      padding-bottom: 32px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
  }
  .soc-image{
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.template{
  padding: 96px calc(3%);
  &-links{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      a{
          color: #282938;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px;
          transition: 0.4s;
          &:hover{
              color: #2405F2;
          }
      }
  }
  .template-cards{
      margin-top: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .template-card{
          display: flex;
          width: 623px;
          padding: 30px 39px 33px 39px;
          justify-content: center;
          align-items: center;
          height: 380px;
      }
      .cardbr1{
          background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
      }
      .cardbr2{
          background: linear-gradient(131deg, #FFD3AF 16.74%, #4F56FF 103.17%);
      }
      .cardbr3{
          background: linear-gradient(131deg, #EEBCA7 16.74%, #C8C8C8 103.17%);
      }
      .cardbr4{
          background: linear-gradient(131deg, #C2E7F2 16.74%, #98A4FF 103.17%);
      }
      .cardbr5{
          background: linear-gradient(131deg, #C5BCFF 16.74%, #9BF6D5 103.17%);
      }
      .cardbr6{
          background: linear-gradient(131deg, #D2D6FD 16.74%, #D6ACEA 103.17%);
      }

      h3{
          color: #282938;
          padding-top: 24px;
          padding-bottom: 12px;
          font-family: Poppins;
          font-size: 38px;
          font-style: normal;
          font-weight: 600;
          line-height: 56px;
      }
      p{
          color: #282938;
          padding-bottom: 24px;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
      }
      a{
          display: flex;
          align-items: center;
          gap: 16px;
          color: #282938;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
      }

  }
}