@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  margin-top: 93px;
  font-family: Poppins;
}
body header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1c1e53;
  height: 93px;
  padding-top: 10px;
}
body header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between !important;
}
body header .nav .nav_items {
  display: flex;
  gap: 40px;
  align-items: center;
}
body header .nav .nav_items a {
  color: #bbbbcb;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body header .nav .nav_items a:hover {
  color: #fff;
}
body header .nav .nav_items button {
  cursor: pointer;
  background-color: transparent;
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
}
body .hero {
  background: #1c1e53;
  padding-bottom: 128px;
}
body .hero .hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .hero h1 {
  padding-top: 126px;
  max-width: 582px;
  color: #fff;
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
body .hero p {
  padding: 24px 0 48px 0;
  max-width: 562px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body .hero .btn_hero {
  display: flex;
  gap: 40px;
}
body .hero .work_btn {
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 56px;
  border-radius: 41px;
  background: transparent;
}
body .hero .work_btn:hover {
  transition: 0.5s;
  background: #fcd980;
  color: #1b1c2b;
}
body .hero .pricing_btn {
  border-radius: 41px;
  padding: 16px 56px;
  cursor: pointer;
  background-color: transparent;
  color: var(--White, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border: none;
}
body .hero .pricing_btn:hover {
  background-color: #fcd980;
  color: #1b1c2b;
  transition: 0.5s;
}
body .view {
  padding-bottom: 128px;
  background: #fff;
}
body .view .view-text {
  padding-top: 57px;
  display: flex;
  justify-content: space-between;
}
body .view .view-text h1 {
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
body .view .view-text .btn_view {
  border: none;
  background-color: transparent;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body .view .view_image {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
}
body .view .view_image .img2 {
  padding-top: 32px;
}
body .features {
  padding-bottom: 128px;
  background: #f4f6fc;
}
body .features h6 {
  padding-top: 128px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
body .features h1 {
  padding-top: 12px;
  max-width: 630px;
  margin: 0 auto;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
body .features .feature_card {
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}
body .features .feature_cards {
  padding-left: 48px;
  background: #fff;
  max-width: 405px;
  width: 100%;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .features .feature_cards h2 {
  padding-bottom: 12px;
  color: var(--Dark-blue, #282938);
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
body .features .feature_cards p {
  max-width: 324px;
}
body .features .feature_card2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
body .clients {
  padding-bottom: 107px;
  padding-top: 128px;
  background: #fff;
}
body .clients .clients_text1 h1 {
  max-width: 327px;
  color: var(--Dark-blue, #282938);
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
body .clients .clients_text1 p {
  padding-top: 16px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 327px;
}
body .clients .clients_text2 p {
  max-width: 843px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
body .clients .clients_content {
  display: flex;
  justify-content: space-between;
}
body .clients .wilson {
  padding-top: 39px;
  display: flex;
  justify-content: space-between;
}
body .clients .wilson .small_image {
  gap: 10px;
  display: flex;
  align-items: center;
}
body .clients .wilson .small_image img {
  border-radius: 50%;
}

footer {
  padding-top: 104px;
  padding-bottom: 92px;
  background: #1c1e53;
}
footer .footer_image p {
  padding: 23px 0 86px 0;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  max-width: 399px;
}
footer .footer_image .email_call {
  padding-left: 20px;
  padding-top: 10px;
  gap: 40px;
  display: flex;
  max-width: 517px;
  width: 100%;
  height: 95px;
  background: #fcd980;
}
footer .footer_image .email_call p {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
footer .talk_con h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
footer .talk_con p {
  padding: 14px 0 28px 0;
  max-width: 399px;
  color: var(--Grey, #f4f6fc);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
footer .talk_con .social_icons {
  display: flex;
  gap: 26px;
}
footer .footer_content {
  display: flex;
  justify-content: space-between;
}

.image_wraper {
  position: relative;
}

.liner {
  padding-left: 32px;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  max-width: 396px;
  height: 600px;
  flex-shrink: 0;
  position: absolute;
  top: 946px;
}
.liner h1 {
  padding-top: 312px;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.liner p {
  padding: 16px 0 40px 0;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.liner .btn_liner {
  border: none;
  background: none;
  color: var(--Yellow, #fcd980);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.img1 {
  position: relative;
}

.linear2 {
  padding-top: 129px;
  padding-left: 56px;
  z-index: 1;
  position: absolute;
  top: 1px;
  max-width: 405px;
  width: 100%;
  height: 284px;
  background: linear-gradient(329deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
}
.linear2 h1 {
  max-width: 213px;
  color: var(--White, #fff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.linear2 .btn_liner {
  padding-top: 10px;
  color: #fcd980;
  background: none;
  border: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main .contact {
  padding: 128px 0px;
}
.main .contact .container .contact-form {
  font-family: sans-serif, poppins;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
  padding: 56px 76px 69px 76px;
}
.main .contact .container .contact-form__btn {
  cursor: pointer;
  padding: 15px 51px;
  width: 254px;
  height: 64px;
  max-width: 100%;
  color: var(--Grey, #f4f6fc);
  font-family: " Manrope";
  font-size: 18px;
  border: none;
  font-weight: 600;
  line-height: 32px;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
}
.main .contact .container .contact-form__btn:hover {
  background-color: white;
  color: #282938;
  border: 1px solid #282938;
  transition: 0.5s;
}
.main .contact .container .contact-form__textarea {
  width: 1100px;
  height: 138px;
  padding: 18px 32px;
  gap: 10px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 8px;
  outline: none;
  margin-bottom: 32px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.main .contact .container .contact-form__i {
  display: flex;
  justify-content: space-between;
}
.main .contact .container .contact-form__inputs {
  padding: 18px 32px;
  width: 438px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;
  max-width: 100%;
  outline: none;
}
.main .contact .container .contact-title {
  text-align: center;
}
.main .contact .container .contact-title__heading {
  color: var(--Dark-blue, #282938);
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.main .contact .container .contact-title__paragraph {
  margin-bottom: 64px;
  width: 562px;
  max-width: 100%;
  color: var(--Dark-blue, #282938);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  line-height: 28px;
}

@media (max-width: 1085px) {
  .main .contact .contact-form .contact-form__textarea {
    width: 440px;
  }
  .main .contact .contact-form .contact-form__i {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}
.blog {
  background: #fff;
}
.blog .blog-text h1 {
  padding: 128px 0 16px 0;
  margin: 0 auto;
  max-width: 949px;
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.blog .blog-text p {
  color: var(--Dark-blue, #282938);
  text-align: center;
  padding-bottom: 32px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.blog .blog-text .p2 {
  color: var(--Dark-blue, #282938);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 831px;
  margin: 0 auto;
  padding-top: 48px;
}
.blog .blog-text h5 {
  color: var(--Royal-Blue, #2405f2);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.blog .our-blog .blog-card2 {
  display: flex;
  justify-content: space-between;
}
.blog .our-blog .blog-card {
  display: flex;
  justify-content: space-between;
}
.blog .our-blog h1 {
  padding-top: 128px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}
.blog .blog-cards {
  padding-top: 48px;
}
.blog .blog-cards .data {
  padding-top: 32px;
  color: var(--Dark-blue, #282938);
}
.blog .blog-cards h3 {
  padding: 16px 0;
  max-width: 404px;
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
}
.blog .blog-cards .data-text {
  color: var(--Dark-blue, #282938);
  max-width: 404px;
  padding-bottom: 24px;
}
.blog .blog-cards .read_more {
  padding-bottom: 128px;
}

@media (max-width: 1390px) {
  .blog .container .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 880px) {
  .blog .container .blog-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.main {
  font-family: sans-serif;
}
.main .pricing {
  padding: 128px 0px;
}
.main .pricing .container .pricing_support {
  text-align: center;
}
.main .pricing .container .pricing_support .pricing_title {
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}
.main .pricing .container .pricing_support .pricing_text {
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 64px;
}
.main .pricing .pricing_content {
  display: flex;
  justify-content: space-between;
}
.main .pricing .pricing_card {
  padding-left: 48px;
  max-width: 406px;
  height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  background: var(--Grey, #f4f6fc);
}
.main .pricing .pricing_card span {
  gap: 20px;
  align-items: center;
  display: flex;
}
.main .pricing .pricing_card span h1 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}
.main .pricing .pricing_card span .per {
  color: var(--Royal-Blue, #2405f2);
}
.main .pricing .pricing_card h4 {
  color: var(--Dark-blue, #282938);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.main .pricing .pricing_card .p2 {
  padding: 20px 0 8px 0;
  padding-bottom: 78px;
  max-width: 281px;
  color: var(--Dark-blue, #282938);
}
.main .pricing .pricing_card .limited_links {
  gap: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.main .pricing .pricing_card .limited_links a {
  display: flex;
  align-items: center;
  color: var(--Dark-blue, #282938);
}
.main .pricing .pricing_card .btn_price {
  padding-top: 79px;
}
.main .pricing .pricing_card .btn_price button {
  border: none;
  max-width: 254px;
  padding: 15px 51px;
  color: var(--Grey, #f4f6fc);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border-radius: 41px;
  background: var(--Dark-blue, #282938);
}
.main .pricing .pricing_card:hover {
  transition: 1s;
  background: #1c1e53;
}
.main .pricing .pricing_card:hover h1 {
  color: var(--White, #fff);
}
.main .pricing .pricing_card:hover .per {
  color: gold;
}
.main .pricing .pricing_card:hover h4 {
  color: var(--White, #fff);
}
.main .pricing .pricing_card:hover p {
  color: var(--White, #fff);
}
.main .pricing .pricing_card:hover a {
  color: var(--White, #fff);
}
.main .pricing .pricing_card:hover button {
  cursor: pointer;
  background-color: gold;
  color: #1b1c2b;
}
.main .frequently .container .frequently_content {
  display: flex;
  padding-bottom: 128px;
}
.main .frequently .container .frequently_content .frequently_support {
  margin-right: 53px;
}
.main .frequently .container .frequently_content .frequently_support .frequently_title {
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 16px;
}
.main .frequently .container .frequently_content .frequently_support .frequently_text {
  color: #2405f2;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.main .frequently .container .frequently_content .frequently_middle .frequently_content_text {
  display: flex;
}
.main .frequently .container .frequently_content .frequently_middle .frequently_content_text .frequently__img {
  margin-right: 58px;
}
.main .frequently .container .frequently_content .frequently_middle .frequently_content_text .frequently_sub__title {
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
  margin-right: 323.2px;
}
.main .frequently .container .frequently_content .frequently_middle .frequently_content_text .frequently_sub__title_primary {
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 32px;
  margin-right: 323.2px;
}
.main .frequently .container .frequently_content .frequently_middle .frequently_sub__text {
  color: #282938;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-left: 82px;
  margin-bottom: 48px;
}
.main .frequently .container .frequently_content .frequently_middle hr {
  width: 843px;
  height: 1px;
  background: rgba(194, 187, 255, 0.7);
  margin-bottom: 32px;
}
.main .frequently .container .frequently_content .frequently_middle .last {
  width: 843px;
  height: 1px;
  background: rgba(194, 187, 255, 0.7);
}/*# sourceMappingURL=style.css.map */